<div class="container-fluid" style="background-color: aqua;">

    <div class="wrapper">
      <div class="hr">
        <hr>

<h2> <strong>{{courseVal.header}}</strong></h2>
        <hr>
      </div>

      <p class="mission-txt">"To Provide Quality Education at Low Cost"</p>

    

      <h2>{{courseVal.subheader}}</h2>
      <div>      
        <p>{{courseVal.para}} </p>
  
  
  
        <h2>Training Duration:</h2>
       <div>
           <p>{{courseVal.duration}}</p>
       </div>
       <h2>Course Fee :{{courseVal.fees}}</h2>
    
</div>
  
